body{
  margin: 0;
  background-color: #000;
}

main{
  width: 100%; height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .background{
    width: 100%; height: 100vh;

    background-image: url("https://cdn2.atlantamagazine.com/wp-content/uploads/sites/4/2017/05/0617_NeilDegrasseTyson_Gluekit_oneuseonly.jpg");
    background-size: cover;
    background-position: center;

    position: absolute;
    top: 0; left: 0;

    opacity: .2;

  }

}

figure{
  width: 300px;
  z-index: 2;
}

#rocket{
  transition: all ease .5s;
  transform-origin: bottom right;

  // &:hover{
  //   transform: rotate(360deg);
  // }
}
